<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Html5 Demo with python</title>
<link rel="stylesheet" type="text/css" href="css/owners.css" />
</head>
<body id="container">
<header><h1>这个是owners页面</h1><h2></h2></header>
<nav><ul><li></li><li></li></ul></nav>
<section>
    <article>
        {% for owner in owners %}
    <table width="400" border="0" cellspacing="0" cellpadding="0">
    <tr>{{ owner.name }}</tr>
    <tr>{{ owner.birthday }}</tr>
    <tr>{{ owner.gender }}</tr>
    </table>
{% endfor %}</article>
    <article></article>
</section>
<footer>这是FOOTER</footer>
</body>
</html>